<!DOCTYPE html>
<html>
<head>
    <title>Registrazione</title>
</head>
<body>
    <h1>Registrazione</h1>
    <form method="POST">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" value="Registrati">
    </form>
    <a href="{{ url_for('login') }}">Già registrato? Fai il login</a>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</body>
</html>